{% extends 'taskapp/base.html' %}
{% load static %}

{% block title %}Создание команды - TaskMaster{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Создать новый проект</h2>
    <form method="post">
        {% csrf_token %}

        {% for field in form %}
            {% if field.name != "participants" %}
                <p>{{ field.label_tag }} {{ field }}</p>
            {% endif %}
        {% endfor %}

        <p>{{ form.participants.label_tag }} {{ form.participants }}</p>
        <p style="font-size: 0.9em; color: #555; margin-top: -10px; margin-bottom: 15px;">
            Чтобы выбрать более 1 участника, зажмите Ctrl (Cmd на Mac)
        </p>

        <button type="submit">Создать проект</button>
    </form>
</div>
{% endblock %}

{% block extra_styles %}
<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin: 0;
        background-color: #f0f0f0;
    }

    .form-container {
        width: 400px;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 8px;
        background: #f9f9f9;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .form-container h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .form-container input,
    .form-container textarea,
    .form-container button,
    .form-container select {
        width: 100%;
        margin-bottom: 15px;
        padding: 10px;
        border-radius: 4px;
        border: 1px solid #ccc;
    }

    .form-container button {
        background: #D9D9D9;
        color: black;
        border: none;
        cursor: pointer;
    }

    .form-container button:hover {
        background: #bcbcbc;
        color: white;
    }

    .form-container ul {
        list-style: none;
        padding-left: 0;
        color: white;
    }

    .form-container p.help-text {
        font-size: 0.9em;
        color: #555;
        margin-top: -10px;
        margin-bottom: 15px;
    }
</style>
{% endblock %}


