/* Стили для хедера */
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.header-container h1 {
    margin: 0;
    font-size: 2rem;
}

/* Стили для футера */
footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.footer-container p {
    margin: 0;
}

/* Стили для окна входа */
.login-container {
    background-color: #D9D9D9;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: 50px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #D9D9D9;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #D9D9D9;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #222;
    color: white;
    padding: 10px 20px;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-links {
    margin-top: 10px;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.nav-links a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    padding-left: 35px;
    padding-right: 55px;
    padding-bottom: 20px;
    padding-top: 20px;
}

footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 20px 10px;
    margin-top: auto;
}

.footer-links {
    margin-bottom: 10px;
}

.footer-links a {
    margin: 0 10px;
    color: #555;
    text-decoration: none;
    font-size: 14px;
}

.footer-links a:hover {
    text-decoration: underline;
}
